<%= if @todo.completed do %>
    <li>
        <%= if @todo.deleted_at do %>
            (deleted)
        <% end %>
        <strike><%= @todo.todo_text %></strike>
    </li>

<% else %>
    <li>
        <%= if @todo.deleted_at do %>
            (deleted)
        <% end %>
        <%= @todo.todo_text %>
        <%= if @todo.due_date do %>
            <br />
            <span class="font-size-s color-grey">Due <%= @todo.due_date %></span>
        <% end %>
    </li>
<% end %>
