<h1 class="text-2xl">New Pod</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_pod_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.admin_mentee_path(@conn, :index) %></span>
