This will be the college list, parent view:

<br /><br />

<h1 class="display-title display-title-s">First group</h1>

<div class="padding-m border-bottom">
<b>Question</b>

<div class="rte"></div>
</div>
<br />

<%= for q <- @questions do %>
  <%= q.question %>
<% end %>
<br /><br /><br />
