<h1>Parent View</h1>

<%= for q <- @questions do %>
  <b>
    <%= q.question %>
  </b>

  <%= if q.parent_answer_required do %>
    <span class="color-error-500 font-size-s">
      Required
    </span>
  <% end %>

  <%
    answer = answer_for_question(q, @college_list.college_list_answers)
  %>

  <div class="rtem">
    <%= 
      if answer do
        answer.from_parent
      else
        "None yet"
      end
    %>
  </div>
  <br />
<% end %>
