<h1 class="text-2xl">Edit Flag</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_pod_flag_path(@conn, :update, @flag)) %>

<div class="h-8"></div>
<span><%= link "Back to pod", to: Routes.admin_pod_path(@conn, :show, @flag.pod_id), class: "link" %></span>
