<h1>Edit Timesheet entry</h1>

<p>
  Mentor:<br />
  <%= link @mentor.name, to: Routes.admin_mentor_path(@conn, :show, @mentor) %>
</p>

<div class="space-m"></div>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_timesheet_entry_path(@conn, :update, @timesheet_entry)) %>

<div class="space-m"></div>
