<h1>Edit Timesheet entry</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_timesheet_entry_path(@conn, :update, @timesheet_entry)) %>

<div class="space-m"></div>
<%= link "Back to mentor", to: Routes.admin_mentor_path(@conn, :show, @timesheet_entry.mentor) %>
