
<%= render "form.html", Map.put(assigns, :action, Routes.mentor_timeline_event_marking_path(@conn, :create)) %>

<%= link "Back", to: Routes.mentor_timeline_path(@conn, :index, @mentee.id) <> "#event-#{@event.id}" %>

<div class="space-m"></div>
