<%= render "form.html", Map.put(assigns, :action, Routes.admin_mentor_path(@conn, :update, @mentor)) %>

<div class="h-4"></div>
<span><%= link "Back", to: Routes.admin_mentor_path(@conn, :show, @mentor), class: "link" %></span>
