<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Admin - Transizion</title>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header class="container flex padding-m align-items-center">
      <div class="flex-0">
        <a href="<%= Routes.admin_user_path(@conn, :index) %>" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/tzn-logo.png") %>" />
        </a>
      </div>
      <nav role="navigation" class="nav-inline flex-1 text-align-right">
        <ul>
          <li><%= link "Users", to: Routes.admin_user_path(@conn, :index) %></li>
          <li><%= link "Mentees", to: Routes.admin_mentee_path(@conn, :index) %></li>
          <li><%= link "Mentors", to: Routes.admin_mentor_path(@conn, :index) %></li>
          <li><%= link "Mentor Timeline", to: Routes.admin_mentor_timeline_event_path(@conn, :index) %></li>
          <li><%= link "Matching Algorithm", to: Routes.admin_matching_algorithm_path(@conn, :show) %></li>
          <li><%= link "Log out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></li>
        </ul>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="color-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="color-error" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
