<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <%= csrf_meta_tag() %>
    <title>Admin - Transizion</title>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
  </head>
  <body>
    <div class="grid grid-cols-12 min-h-screen">
      <aside class="bg-blue w-full col-span-12 md:col-span-4 xl:col-span-2">
        <div class="flex flex-col items-center padding-vertical-xl bg-blue py-12" x-data="{open: true}">
          <a href="<%= Routes.entry_path(@conn, :launch_app) %>">
            <img src="<%= Routes.static_path(@conn, "/images/cz_logo.svg") %>" width="240" />
          </a>
         <div class="flex justify-end md:hidden">
          <span class="material-icons-outlined" @click="open = !open">menu</span>
         </div>
          <div class="space-l" x-show="open"></div>
          <div class="space-l" x-show="open"></div>
          <div class="space-l" x-show="open"></div>
          <div class="flex flex-col items-end self-stretch space-y-2 mt-8" x-show="open">
            <%= TznWeb.LayoutView.left_nav_button_tw(Routes.admin_user_path(@conn, :index), "Users", "people", @conn.request_path =~ "users") %>
            <%= TznWeb.LayoutView.left_nav_button_tw(Routes.admin_mentee_path(@conn, :index), "Mentees", "school", @conn.request_path =~ ~r/mentees|pods/) %>
            <%= TznWeb.LayoutView.left_nav_button_tw(Routes.admin_mentor_path(@conn, :index), "Mentors", "work_outline", @conn.request_path =~ "mentors" || @conn.request_path =~ ~r/admin$/) %>
            <%= TznWeb.LayoutView.left_nav_button_tw(Routes.admin_matching_algorithm_path(@conn, :show), "Matching Algorithm", "person_search", @conn.request_path =~ "matching") %>
            <%= TznWeb.LayoutView.left_nav_button_tw(Routes.admin_question_path(@conn, :index), "Questionnaires", "topic", @conn.request_path =~ "questions" || @conn.request_path =~ "question_sets") %>
            <%= TznWeb.LayoutView.left_nav_button_tw(Routes.admin_cmt_dashboard_path(@conn, :show), "Mentor Oversight", "supervised_user_circle", @conn.request_path =~ "cmt_dashboard") %>
            <%= TznWeb.LayoutView.left_nav_button_tw(Routes.admin_calendar_path(@conn, :index), "Calendars", "calendar_month", @conn.request_path =~ "calendar") %>
            <%= TznWeb.LayoutView.left_nav_button_tw(Routes.admin_pod_group_path(@conn, :index), "Cohorts", "group", @conn.request_path =~ "pod_group") %>
            <%= TznWeb.LayoutView.left_nav_button_tw(Routes.admin_school_admin_path(@conn, :index), "School Administrators", "school", @conn.request_path =~ "school_admin") %>
          </div>
          <div class="h-4" x-show="open"></div>
          <%= link "Log Out", to: Routes.pow_session_path(@conn, :delete), method: :delete, "x-show": "open", class: "text-off-white" %>
        </div>
      </aside>
      <main role="main" class="col-span-12 md:col-span-8 xl:col-span-10 p-4">
        <p class="text-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="text-error" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= @inner_content %>
      </main>
    </div>
  </body>
</html>
