<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Transizion</title>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <header class="flex p-4 justify-center">
      <a href="/">
        <img src="<%= Routes.static_path(@conn, "/images/logo-small.png") %>" width="300" />
      </a>
    </header>
    <main role="main" class="container mx-auto px-4">
      <%= if get_flash(@conn, :info) do %>
        <div class="alert alert-info my-4" role="alert">
          <%= get_flash(@conn, :info) %>
        </div>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <div class="alert alert-error my-4" role="alert">
          <%= get_flash(@conn, :error) %>
        </div>
      <% end %>
      <%= render "impersonation_status.html", conn: @conn %>
      <%= @inner_content %>
    </main>
  </body>
</html>
