<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Transizion</title>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header class="container flex padding-m align-items-center">
      <div class="flex-1">
        <a href="/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/logo-small.png") %>" width="300" />
        </a>
      </div>
      <nav role="navigation" class="nav-inline flex-1 text-align-center">
        <ul>
          
        </ul>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="color-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="color-error" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render "impersonation_status.html", conn: @conn %>
      <%= @inner_content %>
    </main>
  </body>
</html>
