<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Transizion</title>
    <%= csrf_meta_tag() %>
    <script defer type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}></script>
    <link rel="stylesheet" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8BENH6CVF6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8BENH6CVF6',{ 'debug_mode':true });
    </script>
  </head>
  <body>
    <header class="container flex padding-m align-items-center">
      <div class="flex-1">
        <a href="/">
          <img src={Routes.static_path(@conn, "/images/organizeu-logo.png")} width="300" />
        </a>
      </div>
      <nav role="navigation" class="nav-inline flex-1 text-align-center">
        <ul>

        </ul>
      </nav>
    </header>
    <main role="main" class="container container-xl">
      <p class="color-info" role="alert"><%= live_flash(@flash, :info) %></p>
      <p class="color-error" role="alert"><%= live_flash(@flash, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
