<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <%= csrf_meta_tag() %>
    <title>CollegeRize</title>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
  </head>
  <body>
    <div class="parent_layout">
      <nav role="navigation" class="background-light-100">
        <div class="flex flex-column align-items-center padding-vertical-xl background-light-100">
          <a href="<%= Routes.entry_path(@conn, :launch_app) %>">
            <img src="<%= Routes.static_path(@conn, "/images/logo-small.png") %>" width="240" />
          </a>
          <div class="space-l"></div>
          <div class="space-l"></div>
          <div class="space-l"></div>
          <div class="group group-column group-stretch group-m width-80 margin-horizontal-auto">
            <%= TznWeb.LayoutView.left_nav_button(Routes.mentor_mentee_path(@conn, :index), "My Mentees", "people", @conn.request_path =~ ~r/\/mentor$/ || @conn.request_path =~ "mentees") %>
            <%= TznWeb.LayoutView.left_nav_button(Routes.mentor_timeline_path(@conn, :index), "Mentee Timelines", "view_timeline", @conn.request_path =~ "timeline") %>
            <%= TznWeb.LayoutView.left_nav_button(Routes.mentor_timesheet_entry_path(@conn, :index), "My Timesheet", "work_outline", @conn.request_path =~ "timesheet") %>

            <%= if @current_mentor.college_list_specialty do %>
              <%= TznWeb.LayoutView.left_nav_button(Routes.mentor_college_list_path(@conn, :index), "College Lists", "school", @conn.request_path =~ "college_lists") %>
            <% end %>
            <%= if @current_mentor.ecvo_list_specialty do %>
              <%= TznWeb.LayoutView.left_nav_button(Routes.mentor_ecvo_list_path(@conn, :index), "EC/VO Lists", "volunteer_activism", @conn.request_path =~ "ecvo_lists") %>
            <% end %>
            <%= if @current_mentor.scholarship_list_specialty do %>
              <%= TznWeb.LayoutView.left_nav_button(Routes.mentor_scholarship_list_path(@conn, :index), "Scholarship Lists", "savings", @conn.request_path =~ "scholarship_list") %>
            <% end %>

            <%= TznWeb.LayoutView.left_nav_button(Routes.mentor_help_path(@conn, :show), "Help", "help_outline", @conn.request_path =~ "help") %>
          </div>
          <div class="space-xl"></div>
          <%= link "Log Out", to: Routes.pow_session_path(@conn, :delete), method: :delete %>
        </div>
      </nav>
      <main role="main" class="padding-m">
        <p class="color-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="color-error" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render "impersonation_status.html", conn: @conn %>
        <%= @inner_content %>
      </main>
    </div>
  </body>
</html>
