<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <%= csrf_meta_tag() %>
    <title>CollegeRize</title>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
    <link rel="stylesheet" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
  </head>
  <body>
    <div class="parent_layout">
      <nav role="navigation" class="background-light-100">
        <div class="flex flex-column align-items-center padding-vertical-xl background-light-100">
          <a href="<%= Routes.entry_path(@conn, :launch_app) %>">
            <img src="<%= Routes.static_path(@conn, "/images/logo-small.png") %>" width="240" />
          </a>
          <div class="space-l"></div>
          <div class="space-l"></div>
          <div class="space-l"></div>
          <div class="group group-column group-stretch group-m width-80 margin-horizontal-auto">
            <%= TznWeb.LayoutView.left_nav_button(Routes.mentor_pod_path(@conn, :index), "My Mentees", "people", @conn.request_path =~ ~r/\/mentor$/ || @conn.request_path =~ ~r/mentees|pods/) %>
            <%= TznWeb.LayoutView.left_nav_button(Routes.mentor_timeline_path(@conn, :index), "Mentee Timelines", "view_timeline", @conn.request_path =~ "timeline") %>
            <%= TznWeb.LayoutView.left_nav_button(Routes.mentor_timesheet_entry_path(@conn, :index), "My Timesheet", "work_outline", @conn.request_path =~ "timesheet") %>

            <%= if @current_mentor.college_list_specialty do %>
              <%= TznWeb.LayoutView.left_nav_button(Routes.mentor_college_list_path(@conn, :index), "College Lists", "school", @conn.request_path =~ "college_lists") %>
            <% end %>
            <%= if @current_mentor.ecvo_list_specialty do %>
              <%= TznWeb.LayoutView.left_nav_button(Routes.mentor_ecvo_list_path(@conn, :index), "EC/VO Lists", "volunteer_activism", @conn.request_path =~ "ecvo_lists") %>
            <% end %>
            <%= if @current_mentor.scholarship_list_specialty do %>
              <%= TznWeb.LayoutView.left_nav_button(Routes.mentor_scholarship_list_path(@conn, :index), "Scholarship Lists", "savings", @conn.request_path =~ "scholarship_list") %>
            <% end %>

            <%= TznWeb.LayoutView.left_nav_button(Routes.mentor_help_path(@conn, :show), "Help", "help_outline", @conn.request_path =~ "help") %>
          </div>
          <div class="space-xl"></div>
          <%= link "Log Out", to: Routes.pow_session_path(@conn, :delete), method: :delete %>
        </div>
      </nav>
      <main role="main" class="padding-m">
        <p class="color-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="color-error" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render "impersonation_status.html", conn: @conn %>
        <%= @inner_content %>
      </main>
    </div>
    <script type="text/javascript">
    (function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
    for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
    MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);

    mixpanel.init('1ed07a56082fd0d21153b2a84fe1b8c9');
    mixpanel.identify("<%= @current_user.id %>")
    </script>

  </body>
</html>
