<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Transizion</title>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/turretcss/dist/turretcss.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">

  </head>
  <body>
    <div class="parent_layout">
      <nav role="navigation" class="background-light-100">
        <div class="flex flex-column align-items-center padding-vertical-xl">
          <a href="<%= Routes.entry_path(@conn, :launch_app) %>">
            <img src="<%= Routes.static_path(@conn, "/images/logo-small.png") %>" width="240" />
          </a>
          <div class="space-l"></div>
          <div class="space-l"></div>
          <div class="space-l"></div>

          <div class="group group-column group-stretch group-m width-80 margin-horizontal-auto">
            <%= if Enum.count(@mentees) > 1 do %>
              <%= for m <- @mentees do %>
                <%=
                  TznWeb.LayoutView.left_nav_button(
                    Routes.parent_dashboard_path(@conn, :show, mentee: m.id),
                    m.name,
                    "person",
                    false
                  )
                  %>
              <% end %>
              <div class="space-l"></div>
            <% end %>

            <%= TznWeb.LayoutView.left_nav_button(Routes.parent_dashboard_path(@conn, :show), "Dashboard", "home", @conn.request_path =~ "dashboard") %>
            <%= TznWeb.LayoutView.left_nav_button(Routes.parent_worklog_path(@conn, :show), "Work Log", "restore", @conn.request_path =~ "work_log") %>
            <%= TznWeb.LayoutView.left_nav_button(Routes.parent_timeline_path(@conn, :show), "Timeline", "dashboard", @conn.request_path =~ "timeline") %>
            <%= TznWeb.LayoutView.left_nav_button(Routes.parent_additional_offerings_path(@conn, :show), "Additional Services", "hub", @conn.request_path =~ "additional_offerings") %>
          </div>

          <div class="flex-1 flex flex-column align-items-center justify-content-flex-end width-100">
            <%= link to: Routes.parent_referral_path(@conn, :show), class: "border-radius background-white width-80 display-block padding-m" do %>
              <span class="lead-s color-primary-400">Earn Bonus Hours!</span>
              <br />
              <br />
              <div class="flex justify-content-space-between align-content-center">
                <span>Refer a friend or write a review</span>
                <span class="material-icons-outlined">arrow_forward</span>
              </div>
            <% end %>
          </div>
        </div>
    </nav>
      <%= if p = @conn.assigns[:parent_profile] do %>
        <div class="top padding-m"">
          <p class="lead-s">Hi, <%= p.name %></p>
        </div>
      <% end %>
      <main role="main" class="padding-m">
        <p class="color-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="color-error" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render "impersonation_status.html", conn: @conn %>
        <%= @inner_content %>
      </main>
  </div>
</body>
</html>
