.parent_layout {
  display: grid;
  grid-template-areas:
    "nav top top"
    "nav main main";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 23rem 1fr 10%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;

  /* Stack the layout on small devices/viewports. */
  @media all and (max-width: 575px) {
    grid-template-areas:
      "nav"
      "top"
      "main";
    grid-template-rows: auto;
    grid-template-columns: 1fr;

    nav>div {
      height:fit-content;
    }
  }

  nav {
    grid-area: nav;

    >div {
      height: 100vh;
    }

    a,
    a:hover,
    a:active {
      text-decoration: none;
    }

    a.button-block:hover {
      background-color: #2a2e37;
      color: white
    }
    
    a.hover-color-white:hover {
      color: white;
    }
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  .top {
    grid-area: top;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

$border-color: lightgray;

.timeline-item {
  padding: 1em 2em 2em;
  position: relative;
  color: rgba(black, 0.7);
  border-left: 4px solid $border-color;

  &::after {
    width: 16px;
    height: 16px;
    display: block;
    top: 1.5em;
    position: absolute;
    left: -10px;
    border-radius: 16px;
    content: "";
    border: 2px solid $border-color;
    background: white;
  }

}

.ql-toolbar {
  background: #f9f9f9;
}

.ql-editor {
  ul, ol, li {
    padding-left: 1em !important;
    margin-left: 0
  }
}

.ql-container {
  font-family: inherit !important;
}

.width-80 {
  width: 80%;
}


.matching-result {
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}