<p>
  Welcome!
</p>
<p>
  You've successfully signed in but your account needs a little more setup by a Transizion admin. This should be taken care of within 48 hours. Thank you for your patience!
</p>