<h1>Edit Timesheet entry</h1>

<%=
  live_render(
    @conn,
    TznWeb.MentorTimesheetEntry,
    session: %{
      "pod_id" => @timesheet_entry.pod_id,
      "mentor_id" => @current_mentor.id,
      "timesheet_entry_id" => @timesheet_entry.id}
  )
%>

<div class="space-m"></div>

<%= if @timesheet_entry.pod_id do %>
  <%= link "Back to mentee", to: Routes.mentor_pod_path(@conn, :show, @timesheet_entry.pod_id) %>
<% end %>
