<h1>Edit Timesheet entry</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.mentor_timesheet_entry_path(@conn, :update, @timesheet_entry)) %>

<div class="space-m"></div>

<%= if @pod do %>
  <%= link "Back to mentee", to: Routes.mentor_pod_path(@conn, :show, @pod) %>
<% end %>
