<h1>New Timesheet Entry</h1>

<p>This information will be shown to parents to keep them updated on their student’s progress.</p>


<%= render "form.html", Map.put(assigns, :action, Routes.mentor_timesheet_entry_path(@conn, :create)) %>

<%= link "Back to my timesheet", to: Routes.mentor_timesheet_entry_path(@conn, :index) %>

<div class="space-m"></div>
