<h1>New Timesheet Entry</h1>

<p>This information will be shown to parents to keep them updated on their student’s progress.</p>

<%=
  live_render(
    @conn,
    TznWeb.MentorTimesheetEntry,
    session: %{
      "pod_id" => @pod && @pod.id,
      "mentor_id" => @current_mentor.id,
      "timesheet_entry_id" => nil}
  )
%>

<%= link "Back to my timesheet", to: Routes.mentor_timesheet_entry_path(@conn, :index) %>

<div class="space-m"></div>
