<h1>New Timesheet entry</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.timesheet_entry_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.timesheet_entry_path(@conn, :index) %></span>
