<h1>Show Timesheet entry</h1>

<ul>

  <li>
    <strong>Date:</strong>
    <%= @timesheet_entry.date %>
  </li>

  <li>
    <strong>Notes:</strong>
    <%= @timesheet_entry.notes %>
  </li>

  <li>
    <strong>Hours:</strong>
    <%= @timesheet_entry.hours %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.timesheet_entry_path(@conn, :edit, @timesheet_entry) %></span>
<span><%= link "Back", to: Routes.timesheet_entry_path(@conn, :index) %></span>
