<%= render "form.html", Map.put(assigns, :action, Routes.admin_mentee_path(@conn, :update, @mentee)) %>

<div class="h-8"></div>
<span><%= link "Back", to: Routes.admin_mentee_path(@conn, :show, @mentee), class: "link" %></span>
