<h1>New Mentee</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_mentee_path(@conn, :create)) %>
<div class="h-8"></div>
<span><%= link "Back", to: Routes.admin_mentee_path(@conn, :index) %></span>
