<%= for pod <- @pods |> reject_already_graduated() |>  sort_by_grade() do %>
  <%= link pod.mentee.name, to: Routes.mentor_timeline_path(@conn, :index, pod.id), class: "link" %> - <%= pod.mentee.grade |> humanize %><br />
<% end %>
