<iframe
    src={"https://reporting.collegerize.com/embed/dashboard/" <> @token <> "#bordered=false&titled=false"}
    frameborder="0"
    width="100%"
    height="100%"
    allowtransparency
></iframe>