<h1>Show Mentor</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @mentor.name %>
  </li>

  Mentees:
  <%= for mentee <- @mentor.mentees do %>
    <li><%= link mentee.name, to: Routes.mentee_path(@conn, :show, mentee) %></li>
  <% end %>

</ul>

<span><%= link "Edit", to: Routes.mentor_path(@conn, :edit, @mentor) %></span>
<span><%= link "Back", to: Routes.mentor_path(@conn, :index) %></span>
